*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.relative{
    position: relative;
    background-color: red;
}

#elem{
    border-left: 10px dotted black ;
    position: absolute;
    height: 100vh;
}